<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="basePath">logs/</Property>
    </Properties>


    <Appenders>
        <RollingFile name="bimstand-log"
                     fileName="${basePath}/bimstand-log.log"
                     filePattern="${basePath}/$${date:yyyy-MM-dd}/bimstand-%d{yyyy-MM-dd-hh}-%i.log"
                     append = "true"
                     bufferedIO = "true">
            <PatternLayout>
                <pattern> [%-5level]  %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>

        <Async name="Async-bimstand-log">
            <AppenderRef ref="bimstand-log"/>
        </Async>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.balashoff.bimstand" level="debug" additivity="true">
            <appender-ref ref="Async-bimstand-log" level="debug" />
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>